html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: inherit;
  height: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: inherit;
  height: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  /*background-color: bisque;*/
  width: 100%;
  height: 100%;
}

.header-nav-container {
  height: 60px;
  display: flex;
  margin: 20px;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: #60a3bc;
  padding: 10px;
}

.grid-container {
  width: 94%;
  height: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.column-header-container {
  width: 100%;
  height: 40px;
  display: flex;
  background-color: #60a3bc;
  border-bottom: 1px solid thistle;
  border-radius: 10px 10px 0px 0px;
}
.column-header-container span {
  font-size: 15px;
  color: whitesmoke;
}
.subgroup-header {
  width: 200px;
  height: 100%;
  text-align: center;
  padding-left: 2px;
  padding-top: 5px;
}
.content-row-header {
  background-color: #60a3bc;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 500;
  width: 200px;
  height: 100%;
  text-align: center;
  padding-left: 2px;
}

.column-header,
.cell-header {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.column-header-content,
.grid-cell {
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  padding-left: 2px;
  width: 120px;
  height: 50px;
}

.content-row {
  display: flex;
  height: 57px;
  flex-direction: row;
  border-bottom: 1px solid thistle;
}
.content-container {
  width: 100%;
  height: 350px;
}
.buttons-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
  height: 40px;
  margin-top: 10px;
}

.nav-container {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.nav-list-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
}

.nav-list-container a {
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease 0s;
}

.nav-list-container a:hover {
  color: #ffffff;
  transition: all 0.4s ease 0s;
}
.nav-list-container .active {
  color: #ffffff;
}

.dataset-container {
  width: 100px;
  height: 40px;
  background-color: lawngreen;
  cursor: pointer;
}

.dataset-container select {
  height: 40px;
  width: 100%;
}
.cell-spanNegative {
  color: red;
}
.cell-spanPositive {
  color: rgba(6, 138, 56, 0.5);
}
.page-btn {
  background-color: #60a3bc;
  cursor: pointer;
  color: aliceblue;
  border-radius: 1px 1px 1px 1px;
  width: 50px;
}
.page-btn:hover {
  background-color: rgb(46, 120, 155);
}

.buttons-container .active {
  background-color: rgb(46, 120, 155);
}
